@import "{}/node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

.logo {
  vertical-align: middle;
  padding-right: 30px;
  height: 60px;
  width: auto;
}

.search-header {
  color: #2e2e2e;
}
